<!-- 
ANGULAR GEOGRAPHICAL FROM - How to use
author: Gabriel Checchia Vitali
version 1.0.0
-->
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
	</head>

	<body>
		<!-- Angular configuration -->
		<script type="text/javascript" src="angular/angular.js"></script>
	    <script type="text/javascript" src="angular-geographical-form.js"></script>
		<!-- END OF Angular configuration -->

		<div ng-controller="CityStateController">
			<h3>Example Form:</h3>
			<form>
				<p>Country:</p><select value="Brazil" disabled><option>Brazil</option></select>
				<p>State:</p><select ng-change="stateItemChanged()" ng-model="state" ng-options="o for o in states"></select> 
				<p>City:</p><select ng-model="city" ng-options="o for o in cities[indexOfState]"></select>
			</form>

			</br>
			<span>Selected State: {{state}} </span>
			</br>
			<span>Selected City: {{city}}</span>
			</br>


		</div>
	</body>
</html>